<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qrmarker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.SplashScreen">
        <activity
            android:name=".controller.activities.History"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.UserList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.Profile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.ViewCode"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.RoomDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.Rooms"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.Organizations"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker.main"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.Scanner"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRMarker"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".controller.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>